---
import { Icon } from "astro-icon/components";

interface Props {
  icon?: string;
  href?: string;
}

const { href, icon } = Astro.props;
const Element = href ? "a" : "div";
---

<li class="link-card bg-slate-500 list-none p-4 rounded-xl text-white">
  <Element href={href}>
    <div class="mb-2">
      <slot name="badge" />
    </div>
    {icon && <Icon name={icon} class="w-16 h-16 mx-auto mb-5" />}
    <div class="mb-1">
      <slot name="title" />
    </div>
    <div class="mb-2">
      <slot name="body" />
    </div>
    <slot name="footer" />
  </Element>
</li>
